.wrapper {
    display: flex;
    justify-content: center;
}
.container {
    height: min(92.97vh, 66.111vw);
    width: min(100vw, 140.64vh);
    position: relative;
    top: min(-1vw,-1.513vh);
}

* {
    --ratio: 0.6111;
    --rratio: calc(1/ var(--ratio));
    --u : min(calc(1vw * var(--ratio)), 1vh * var(--rratio)  )
}

.photobooth {
    width: 100%;
    position: absolute;
    top: 6.5008%;
    font-size: min(4.44vw, 6.72vh);
    font-family: "Milk Carton";
    text-align: center;
}

.star {
    width: 18.47%;
    position: absolute;
    top: 4.932%;
    left: 2.43%;
}

.liquid{
    width: 100%;
    position: absolute;
    z-index: -20;
    top: 49.516%;

}

.webcamWrapper {
    width: 76.7%;
    position: absolute;
    top: 18.911%;
    left: 11.7%;
    height: 65.23%;
    overflow: hidden;
}

.webcam {
    width: 100%;
    position: absolute;
    z-index: -10;
    
    
}