.container {
    margin: -40vw 0 0 0;
}

.container2 {
    margin: 0 0 0 16.6vw;
    width: 64.4vw;
}
.title {
    font-size: 4rem;
    font-family: 'Milk Carton';
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.text {
    margin-top: 3rem;
    text-align: justify;
    font-family: 'Montserrat';
    color: #292929;
    font-weight: bold;
}

.sun3-wrapper {
    width: 100vw;
    height: 9.5vw;
    position: relative;
}

.sun3 {
    width: 17.71vw;
    position: absolute;
}

.bunga1-wrapper {
    width: 100vw;
    height: 1vw;
    position: relative;
}

.bunga1 {
    width: 20.69vw;
    position: absolute;
    left: 79.31vw;
    top: -10vw;
}

.bunga2 {
    display: none;
    width: 48vw;
    position: absolute;
    left: 52vw;
    top: -40vw;
}

@media (max-width: 640px) {
    .sun3-wrapper {
        height: 34vw;
    }

    .sun3 {
        width: 25.64vw;
    }
    .bunga1-wrapper {
        height: 5vw
    }
    .container2 {
        margin: 5vw 0 40vw 5vw;
        width: 90vw;
    }
    .title {
        text-align: center;
        font-size: 2.3rem;
    }
    .text {
        margin-top: 0rem;
        text-align: justify;
        font-family: 'Montserrat';
    }
    .bunga2 {
        display: block;
    }
    .bunga1 {
        display: none;
    }
}
