.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleWrapper {
    margin-top: 8vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleWrapper h1 {
    margin: 0 1em;
    font-family: "Milk Carton";
    font-size: 4.44vw;
    color: #FFFAE6;
}

.wingLeft {
    width: 12.92vw;
    transform: matrix(-1, 0, 0, 1, 0, 0)
}

.wingRight {
    width: 12.92vw;
    ;
}

.exploreItemContainer {
    margin-top: 2em;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Explore Item's Styling */

.exploreItem {
    margin: 2.5em;
    background: #FFFAE6;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    width: 20em;
    height: 24.0625em;
    position: relative;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.exploreItemWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exploreItem .icon {
    width: 47.3%;
}

.exploreItem .title {
    font-family: 'Milk Carton';
    font-size: 2.25em;
    text-align: center;
}

.exploreItem .desc {
    width: 84%;
    text-align: justify;
}

.exploreItem .btn {
    padding: 12px 20px;
    background: #F88848;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    position: absolute;
    top: 77.92%;
}

.exploreItem .btn .mdi {
    margin-left: 0.5em;
    height: 1.1em;
}

/* tabs */
@media (max-width: 1008px) and (min-width: 641px) {
    .titleWrapper h1 {
        font-size: 6vw;
    }
}

/* mobile */

@media (max-width: 640px) {
    .exploreItem {
        width: 81.79vw;
        height: 100vw;
    }

    .titleWrapper {
        margin-top: 20vw;
    }
    .titleWrapper h1 {
        font-size: 10vw;
    }

    .titleWrapper .wingLeft,.wingRight {
        width: 20vw;
    }
}