.container-top {
    width: 100vw;
    display: flex;
    margin-top: 1em;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
  }
  
  .container-top p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
  
    text-align: center;
    letter-spacing: -0.02em;
  
    color: #2d4a58;
  }
  
  .container-top .btn-container {
    width: 100vw;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0 0 0;
    font-size: 1rem;
  }
  
  
  .container-top .btn-container .btn-wrapper {
      width: max(10.5%,130px);
      height: 2.3rem;
      margin: 0.5em 1em;
      
  }
  
  .btn-wrapper button {
    font-size: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      
      padding: 0.5em 0.3em;
      font-weight: 700;
  }
  
  .container-top .btn-container .btn-1 {
    gap: 10px;
    border: 2px solid #5c8dd6;
    border-radius: 9px;
    color: #5c8dd6;
  }
  
  .container-top .btn-container .btn-2 {
    gap: 10px;
    background: #5c8dd6;
    border-radius: 9px;
    color: #ffffff;
  }
  

/* tabs */
@media (min-width: 640px) and (max-width: 1008px) {
    .btn-container .btn-wrapper {
        width: 40vw;
    }
}


/* mobile */
@media (max-width: 640px) {
    .btn-container {
        flex-direction: column;
        font-size: 1rem;
    }

    .container-top p {
      font-size: 1.5rem;
      font-weight: bold;
    }
}
