.graphics1-container {
    width: 100vw;
    height: 35vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 0vw;
    position: relative;
    z-index: 0;
  }

.graphics1-container .festive1 {
    width: 13.47vw;
    position: absolute;
    top: 11.94vw;
    left: 26.38vw;
}

.graphics1-container .festive2 {
    width: 13.47vw;
    position: absolute;
    top: 11.94vw;
    left: 60.13vw;
}

.graphics1-container .logoLockup {
    width: 31.81vw;
    position: absolute;
    top: 0;
    left: 34.24vw;
}


/* tabs */
@media (min-width:641px) and (max-width: 1008px) {
    .graphics1-container  {
        transform: scale(1.25);
        top: -4vw;
    }
}

@media (max-width: 640px) {
    .graphics1-container {
        margin-top: 25vw;
        margin-bottom: 20vw;
        transform: scale(2);
    }
}


/* old styling for mobile */
/* @media (max-width: 640px) {
    .graphics1-container {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .graphics1-container .wrapper {
        display: none;
    }

    .festive1,.festive2 {
        display: none;
    }

    .logoLockup {
        top: 0px;
    }

    .graphics1-container .wrapper-small {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0.8);
    }
} */
