.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heads {
    width: 100%;
    margin-top: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Milk Carton";
    color: #FFFAE6;
}

.star {
    width: 7.3vw;
}

.mediapartners {
    font-size: 4vw;
    margin: 0 2vw;
}

@media (max-width: 640px) {
    .mediapartners {
        font-size: 7.5vw;
        margin: 0 4vw;
    }

    .star {
        width: 14.5vw;
    }
}