.container {
    width: 100vw;
    position: relative;
    margin-top: 12vw;
    
}

.ornamentbottommost{
    width: 100vw;
}

.countdown-container {
    width: 48.3vw;
    height: 28.6vw;
    position: absolute;
    top: 2vw;
    left: 25.8vw;

    display: flex;
    justify-content: center;

    background-color: #FFFAE6;
    border: 15px solid #2D4A58;
    border-radius: 50px;
}

.countdowns {
    color: #2D4A58;
    width: 80%;

    display: grid;

    grid-template-areas: 'cd hari' 'menuju menuju';
    line-height: 0;
}

.countdowns .cd {
    font-family: 'Milk Carton';
    grid-area: cd;

    padding: 0;
    position: relative;
    top: 3.5vw;
    line-height: 16.67vw;
    font-size: 16.67vw;
    margin-left: 4vw;
}

.countdowns .hari {
    font-family: 'Montserrat';
    font-weight: bold;
    grid-area: hari;
    display: flex;
    align-items: flex-end;
    line-height: 15vw;
    font-size: 7vw;
    margin-left: -4vw;
    
}

.countdowns .menuju {
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    grid-area: menuju;
    font-size: 2.3vw;
}

.festive3 {
    width: 23.69vw;
    position: absolute;
    z-index: 10;
    top: -6.13vw;
    left: 17.84vw;
}

/* mobile */
/* case that reuire 700px mobile width to fit */
@media (max-width: 700px) {
    .countdown-container {
        width: 70vw;
        height: 40vw;
        left: 14.36vw;
        border-width: 5px;
        border-radius: 20px;
        top: -5vw;
    }

    .countdowns {
        width: 90%;
    }

    .countdowns .cd {
        line-height: 30.61vw;
        font-size: 24.61vw;
    }
    .countdowns .hari {
        line-height: 26vw;
        font-size: 12.3vw;
        font-weight: 900;
    }
    .countdowns .menuju {
        font-size: 4.1vw;
    }

    .festive3 {
        width: 32.52vw;
        top: -16vw;
        left: 3.53vw;
    }
}