.container {
    position: relative;
    top: -16.9vw;
    width: 100vw;
}

.stars1 {
    width: 26.1vw;
    position: absolute;
    top: -3vw;
    
}

.bottommid {
    width: 100vw;
    position: absolute;
    top: -25vw;
}

.redtulip1 {
    width: 26.7vw;
    position: relative;
    left: 73.6vw;
    top: 5vw;
}

.redtulip2 {
    width: 20.9vw;
    position: relative;
    left: 79.1vw;
    top: -45vw;
}

.stars2 {
    width: 20.9vw;
    position: relative;
    left: 32.1vw;
    top: -17vw;
}

.mini_conf {
    width: 20.9vw;
    position: absolute;
    left: 78.28vw;
    top: 35vw;
}

@media (max-width: 640px) {
    .container {
        margin-top: 50vw;
        margin-bottom: 10vw;
    }
}

