.container {
    position: relative;
}

.ornament-topmid {
    width: 100vw;
}

.sun {
    width: 20vw;
    position: absolute;
    top: 14vw;
    left: 40vw;
}

.pansies_km4 {
    width: 31.05vw;
    position: absolute;
    top: 9.38vw;
    left: 68.96vw;

}
.pansies_km5 {
    width: 22.56vw;
    position: absolute;
    top: -11.6vw;
    left: 0vw;
}

.pansies_km6 {
    display: none;
    width: 25.51vw;
    position: absolute;
    top: -14.97vw;
    left: 0vw;
}

/* mobile */

@media (max-width: 640px) {
    .container {
        margin-top: 25vw;
    }
    .pansies_km5 {
        display: none;
    }
    .pansies_km6 {
        display: block;
    }
}