.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.heads {
    width: 100%;
    margin-top: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Milk Carton";
    color: #FFFAE6;
}

.star {
    width: 7.3vw;
}

.png {
    width: 84.86%;
    margin-top: 4em;
}

.sponsoredby {
    font-size: 4vw;
    margin: 0 2vw;
}

.tiles-container {
    width: 88.19vw;
    display: grid;
    grid-template-rows: 25vw 19.4vw 11.1vw;
    row-gap: 5.83vw;
    margin: 5em 0 0 0;
}

.tiles-container > div {
    display: flex;
    justify-content: space-between;
}

.tiles-large {
    height: 25vw;
}

.tiles-medium {
    height: 19.4vw;
}

.tiles-small {
    height: 11.1vw;
}

/* temporary style for logos */

.tile {
    display: inline-block;
    background-color: #D9D9D9;
}

.tiles-large .tile {
    height: 25vw;
    width: 25vw;
}

.tiles-medium .tile {
    height: 19.4vw;
    width: 19.4vw;
}

.tiles-small .tile {
    height: 11.1vw;
    width: 11.1vw;
}

/* mobile */

@media (max-width: 640px) {
    .sponsoredby {
        font-size: 7.5vw;
        margin: 0 4vw;
    }

    .star {
        width: 14.5vw;
    }
}