.container {
    position: relative;
    font-family: "Montserrat";
    color: #262626;
}

.container .noInteract {
    pointer-events: none;
}

/* desktop */
.sun {
  width: 17em;
  position: absolute;
  top: 115em;
}

.trailer-container {
    position: relative;
    width: 100vw;
    margin-top: 5em;
    z-index: 10;
}

.trailer-container .trailer-header {
    font-family: 'Milk Carton';
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    font-size: 2rem;
    margin: 0 0 0 20vw
}

.trailer-container iframe {
    z-index: 20;
    width: 60vw;
    height: 33.8vw;
    margin: 0 0 0 20vw;
}

.dikunjungi {
    font-family: 'Montserrat';
    font-weight: bold;
    
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}

.darkbg {
    margin-top: -20vw;
    padding-top: 15vw;
    background-image: url("https://static.paradewisudaitb.com/assets/images/bg_tile_darkgreen.jpg");
}
.interactionshield{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}


/* tabs */
@media (min-width: 640px) and (max-width: 1008px) {
    .btn-container .btn-wrapper {
        width: 40vw;
    }
}

/* mobile */
@media (max-width: 640px) {
    .trailer-container {
        margin-top: 10em;
    }

    .trailer-container .trailer-header {
        margin: 0 0 0 8vw;
    }

    .trailer-container iframe {
        width: 84.1vw;
        height: 44.1vw;
        margin: 0 7.94vw;
    }

    .dikunjungi {
        display: none;
        font-size: 1rem;
    }
}