.nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.nav-container {
  width: inherit;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;
}

.text-color-1 {
  color: var(--chakra-colors-red-normal);
}

.text-color-2 {
  color: var(--chakra-colors-orange-normal-default);
}

.text-color-3 {
  color: var(--chakra-colors-green-normal);
}

.text-color-4 {
  color: var(--chakra-colors-blue-normal-default);
}

@media screen and (min-width: 768px) {
  .nav-container > Flex {
    flex-basis: 50%;
  }

  .logo {
    align-items: center;
  }

  .logo .logo-img {
    padding: 4px;
    max-width: calc(75px + 1vh); /* CHANGING VALUES */
    max-height: calc(75px + 1vh); /* CHANGING VALUES */
    min-width: calc(70px + 1vh); /* CHANGING VALUES */
    min-height: calc(70px + 1vh); /* CHANGING VALUES */
  }

  .logo .logo-text {
    font-family: var(--chakra-fonts-heading);
    margin: 10px;
    font-size: 30px; /* CHANGING VALUES */
  }

  .btn-container {
    gap: 20px;
    margin-right: 10px;
    align-items: center;
    font-weight: 600;
    font-size: 18px; /* CHANGING VALUES */
  }

  .btn-container .btn {
    border-radius: 25px;
    font-weight: 700;
    padding: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px; /* CHANGING VALUES */
  }
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
  .nav-container > Flex,
  .nav-container > Menu {
    flex-basis: 33%;
  }

  .logo-img-container .logo-img {
    padding: 4px;
    max-width: calc(70px + 1vh); /* CHANGING VALUES */
    max-height: calc(70px + 1vh); /* CHANGING VALUES */
    min-width: calc(65px + 1vh); /* CHANGING VALUES */
    min-height: calc(65px + 1vh); /* CHANGING VALUES */
  }

  .logo-text {
    font-family: var(--chakra-fonts-heading);
    margin: 10px;
    font-size: 31px; /* CHANGING VALUES */
  }

  .menu-btn {
    transition: all 0.2s;
    padding: 3px 6px 3px 6px;
  }

  .btn-mobile-container {
    justify-content: center;
    padding: 4px;
    width: calc(50px + 1vh); /* CHANGING VALUES */
    height: calc(50px + 1vh); /* CHANGING VALUES */
    min-width: calc(70px + 1vh); /* CHANGING VALUES */
    min-height: calc(70px + 1vh); /* CHANGING VALUES */
  }

  .icon-menu {
    max-width: 200%;
    height: auto;
    width: 120%; /* CHANGING VALUES */
  }
}

@media only screen and (max-width: 576px) and (min-width: 389px) {
  .nav-container > Flex,
  .nav-container > Menu {
    flex-basis: 33%;
  }

  .logo-img-container .logo-img {
    padding: 4px;
    max-height: calc(60px + 1vh); /* CHANGING VALUES */
    max-width: calc(60px + 1vh); /* CHANGING VALUES */
    min-height: calc(55px + 1vh); /* CHANGING VALUES */
    min-width: calc(55px + 1vh); /* CHANGING VALUES */
  }

  .logo-text {
    font-family: var(--chakra-fonts-heading);
    margin: 10px;
    font-size: 24px; /* CHANGING VALUES */
  }

  .menu-btn {
    transition: all 0.2s;
    padding: 3px 6px 3px 6px;
  }

  .btn-mobile-container {
    justify-content: center;
    padding: 4px;
    width: calc(60px + 1vh); /* CHANGING VALUES */
    height: calc(60px + 1vh); /* CHANGING VALUES */
    min-width: calc(55px + 1vh); /* CHANGING VALUES */
    min-height: calc(55px + 1vh); /* CHANGING VALUES */
  }

  .icon-menu {
    max-width: 200%;
    height: auto;
    width: 120%; /* CHANGING VALUES */
  }
}

@media only screen and (min-width: 378px) and (max-width: 446px) {
  .nav-container > Flex,
  .nav-container > Menu {
    flex-basis: 33%;
  }

  .logo-img-container .logo-img {
    padding: 4px;
    max-width: calc(55px + 1vh); /* CHANGING VALUES */
    max-height: calc(55px + 1vh); /* CHANGING VALUES */
    min-width: calc(55px + 1vh); /* CHANGING VALUES */
    min-height: calc(55px + 1vh); /* CHANGING VALUES */
  }

  .logo-text {
    font-family: var(--chakra-fonts-heading);
    margin: 10px;
    font-size: 20px; /* CHANGING VALUES */
  }

  .menu-btn {
    transition: all 0.2s;
    padding: 3px 6px 3px 6px;
  }

  .btn-mobile-container {
    justify-content: center;
    padding: 4px;
    width: calc(50px + 1vh); /* CHANGING VALUES */
    height: calc(50px + 1vh); /* CHANGING VALUES */
    min-width: calc(45px + 1vh); /* CHANGING VALUES */
    min-height: calc(45px + 1vh); /* CHANGING VALUES */
  }
}

@media only screen and (max-width: 378px) and (min-width: 322px) {
  .nav-container > Flex,
  .nav-container > Menu {
    flex-basis: 33%;
  }

  .logo-img-container .logo-img {
    padding: 4px;
    max-width: calc(40px + 1vh); /* CHANGING VALUES */
    max-height: calc(40px + 1vh); /* CHANGING VALUES */
    min-width: calc(40px + 1vh); /* CHANGING VALUES */
    min-height: calc(40px + 1vh); /* CHANGING VALUES */
  }

  .logo-text {
    font-family: var(--chakra-fonts-heading);
    margin: 10px;
    font-size: 17px; /* CHANGING VALUES */
  }

  .menu-btn {
    transition: all 0.2s;
    padding: 3px 6px 3px 6px;
  }

  .btn-mobile-container {
    justify-content: center;
    padding: 4px;
    width: calc(7vh + 1vh); /* CHANGING VALUES */
    height: calc(7vh + 1vh); /* CHANGING VALUES */
    min-width: calc(45px + 1vh); /* CHANGING VALUES */
    min-height: calc(45px + 1vh); /* CHANGING VALUES */
  }
}

@media screen and (max-width: 322px) and (min-width: 279px) {
  .nav-container > Flex,
  .nav-container > Menu {
    flex-basis: 33%;
  }

  .logo-img-container .logo-img {
    padding: 4px;
    max-width: calc(40px + 1vh); /* CHANGING VALUES */
    max-height: calc(40px + 1vh); /* CHANGING VALUES */
    min-width: calc(40px + 1vh); /* CHANGING VALUES */
    min-height: calc(40px + 1vh); /* CHANGING VALUES */
  }

  .logo-text {
    font-family: var(--chakra-fonts-heading);
    margin: 10px;
    font-size: 14px; /* CHANGING VALUES */
  }

  .menu-btn {
    transition: all 0.2s;
    padding: 3px 6px 3px 6px;
  }

  .btn-mobile-container {
    justify-content: center;
    padding: 4px;
    width: calc(7vh + 1vh); /* CHANGING VALUES */
    height: calc(7vh + 1vh); /* CHANGING VALUES */
    min-width: calc(45px + 1vh); /* CHANGING VALUES */
    min-height: calc(45px + 1vh); /* CHANGING VALUES */
  }
}

@media screen and (max-width: 279px) {
  .nav-container > Flex,
  .nav-container > Menu {
    flex-basis: 33%;
  }

  .logo-img-container .logo-img {
    padding: 4px;
    max-width: calc(40px + 1vh); /* CHANGING VALUES */
    max-height: calc(40px + 1vh); /* CHANGING VALUES */
    min-width: calc(40px + 1vh); /* CHANGING VALUES */
    min-height: calc(40px + 1vh); /* CHANGING VALUES */
  }

  .logo-text {
    font-family: var(--chakra-fonts-heading);
    margin: 10px;
    font-size: 12px; /* CHANGING VALUES */
  }

  .menu-btn {
    transition: all 0.2s;
    padding: 3px 6px 3px 6px;
  }

  .btn-mobile-container {
    justify-content: center;
    padding: 4px;
    width: calc(7vh + 1vh); /* CHANGING VALUES */
    height: calc(7vh + 1vh); /* CHANGING VALUES */
    min-width: calc(45px + 1vh); /* CHANGING VALUES */
    min-height: calc(45px + 1vh); /* CHANGING VALUES */
  }
}
