@font-face {
  font-family: 'Milk Carton';
  src: local('MilkCarton'),
    url('./assets/fonts/MilkCarton.otf') format('opentype');
  font-weight: 100 1000;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 1000;
}

@font-face {
  font-family: 'Montserrat Italic';
  src: local('Montserrat'),
    url('./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf')
      format('truetype');
  font-weight: 100 1000;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
